---
import "../styles/global.css";
import { Font } from "astro:assets";
import { ClientRouter } from 'astro:transitions';
import LoadingIndicator from "astro-loading-indicator/component"

const { title, description } = Astro.props;

const defaultTitle = "The Hague Policy Hackathon";
const defaultDescription = "The Hague Policy Hackathon (THPH) is a newly founded hackathon event in The Hague, Netherlands. During this 2.5 days competition event, students and young professionals form multidisciplinary teams to develop data-informed policies and / or policy tools to tackle pressing societal issues relevant within the Dutch national government's policy landscape. The challenges are provided by  government and policy stakeholders. At the core, the event champions research and innovation at the interdisciplinary intersection between technology and policy. The event has already been succesfully held in Amsterdam and is inspired by the MIT Policy Hackathon, which is a similar competition held annually at the Massachusetts Institute of Technology.";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ?? defaultTitle}</title>
		<meta name="description" content={description ?? defaultDescription} />

		<meta property="og:url" content="https://thehague.dpi.network" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={defaultTitle} />
		<meta property="og:description" content={defaultDescription} />
		<meta property="og:image" content="/social-image.jpg" />

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="thehague.dpi.network" />
		<meta property="twitter:url" content="https://thehague.dpi.network/" />
		<meta name="twitter:title" content={defaultTitle} />
		<meta name="twitter:description" content={defaultDescription} />
		<meta name="twitter:image" content="/social-image.jpg" />

		<Font cssVariable="--font-geist" preload />
		<ClientRouter />
		<LoadingIndicator color="#f4f4f5" height="2px" />

	</head>
	<body class="font-sans min-h-screen bg-zinc-900">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
